/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-main-color: #364fc7;
  --main-grey-color: #212529;
  --page-background-color: #f8f9fa;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--main-grey-color);
  background-color: var(--page-background-color);
  border-bottom: 10px solid var(--main-main-color);
}

.container {
  width: 90%;
  margin: 1.5% auto;
}

svg {
  width: 24px;
  height: 24px;
}

header {
  padding: 15px;
}

header p {
  margin-top: 1%;
}

header p a:link,
header p a:visited,
header p a:hover,
header p a:active {
  cursor: pointer;
  color: var(--main-main-color);
  text-transform: uppercase;
  text-decoration: underline wavy;
  font-weight: 800;
}

header h1 a:link,
header h1 a:visited,
header h1 a:hover,
header h1 a:active {
  cursor: pointer;
  color: var(--main-main-color);
  text-decoration: underline wavy;
}

h1 {
  font-size: 52px;
  font-weight: 800;
}

h2 {
  font-size: 44px;
  font-weight: 800;
}

h3 {
  font-size: 30px;
  margin-bottom: 5px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  max-width: 75ch;
}

main {
  background-color: var(--main-main-color);
  color: var(--page-background-color);
  padding: 15px;
  box-shadow: 20px 20px 0px var(--main-grey-color);
  margin-bottom: 2.5%;
}
